<html>

<head>
<title>Kate's CV</title>
</head>

<body>

<p>This is Kate Marr-Laing's CV</p>

<h2>Education</h2>
<ul>
<li>Clown College</li>
</ul>

<h2>Special Skillz</h2>
<ul>
<li>Friendship</li>
<li>Graphs</li>
<li>Visualization</li>
</ul>

<h2>Volunteer Experience</h2>
<ul>
<li>Teaching Saeesh how to code</li>
<li>Eating lunch with the other PODS fellows</li>
</ul>

<img class="avatar" src="https://a1.lcb.org/system/modules/news_story/images/attachments/000/067/348/optimized/15643_lcb-52k-Hu-main-LCB-73-computer-hacker.jpg?1551180481">


</body>
</html>
